* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/*START NAV BAR*/

.navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 110, 204);
    color: white;
    font-size: x-large;
}

.school-name {
    font-size: 1.5rem;
    margin: .5rem;
    font-size: x-large;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgba(1, 34, 6, 0.5);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 850px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}


/*END NAV BAR*/


/*START MAIN STUDENT DIV*/

.main_content_div {
    background-color: rgba(255, 255, 255);
    width: 96%;
    margin-left: 2%;
    border-radius: 10px;
    margin-top: 0.5%;
}

.user_data_div {
    width: 100%;
    height: auto;
    display: inline-flex;
    border-radius: 20px;
}

.user_details_data_div {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}

@media screen and (max-width: 400px) {
    .profile_image_div {
        display: none;
    }
    .user_details_data_div {
        display: inline-block;
        width: 100%;
    }
}

.user_class_info {
    margin: 5px;
}


/*END MAIN STUDENT DIV*/